h1, h2
{
    color:green;
    font-family:Arial;
}

article
{
    background-color: teal;
    background-image: url('https://spotpet.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fm5ehn3s5t7ec%2Fwp-image-197645%2Febb53a9acfebebaf0b7cdfd540ff6040%2FJack-Russell-Terrier-Dog-Breed-Information.jpg&w=640&q=75');
    width: 500;
    height: 500;
    color:red;
    font-family: Impact;
}

.blur
{
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.3)
}

div p
{
    color: blue;
}

a:hover
{
    color:black;
}

input[type="text"]
{
    border: 1px solid red;
}

.container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.item
{
    flex:1;
    align-self:center;
    background-color:  steelblue;
    color: white;
}
